.mainRow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.headText{
    color: #FFF !important;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
    font-weight: 100 !important;
}
.tagLine{
    color: #FFF !important;
    text-transform: capitalize;
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 100 !important;
}
.mainContentDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 5%;
}
.line{
    border-right: solid 2px #FFF;
    height: 190px;
    margin-left: 2em;
}
.linkDiv{
    margin: 10px;
    position: relative;
    bottom: 70px;
    text-align: left;
}