.productListRow{
    display: flex;
    justify-content: center;
}
.productImage{
    margin: 20px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 150px;
	transform: scale(1);
	transition: .3s ease-in-out;
}
.productImage:hover{
	transform: scale(1.05);
}
.imageText{
    font-family: 'Cinzel', serif;
    font-size: 20px !important;
    background-color: rgba(255, 255, 255, .3);
    padding: 5px;
}
.collectionTitle{
    font-family: 'Poiret One', cursive;
    letter-spacing: 10px;
}